<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.carlosflores.respiapp1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RespiApp1"
        tools:targetApi="31">
        <activity
            android:name=".Palmopercusion_parar"
            android:exported="false" />
        <activity
            android:name=".Palmopercusion_iniciar"
            android:exported="false" />
        <activity
            android:name=".Palmopercusion"
            android:exported="false" />
        <activity
            android:name=".Resp_cuadrada_parar"
            android:exported="false" />
        <activity
            android:name=".Resp_cuadrada_iniciar"
            android:exported="false" />
        <activity
            android:name=".Resp_cuadrada"
            android:exported="false" />
        <activity
            android:name=".Resp_popote_parar"
            android:exported="false" />
        <activity
            android:name=".Resp_popote_iniciar"
            android:exported="false" />
        <activity
            android:name=".Resp_popote"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.carlosflores.respiapp1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".Resp_mov_brazos_parar"
            android:exported="false" />
        <activity
            android:name=".Resp_mov_brazos_iniciar"
            android:exported="false" />
        <activity
            android:name=".Resp_mov_brazos"
            android:exported="false" />
        <activity
            android:name=".Monitoreo_Inicio"
            android:exported="false" />
        <activity
            android:name=".Resp_diafragmatica_parar"
            android:exported="false" />
        <activity
            android:name=".Resp_diafragmatica_iniciar"
            android:exported="false" />
        <activity
            android:name=".Resp_diafragmatica"
            android:exported="false" />
        <activity
            android:name=".Fisioterapia"
            android:exported="false" />
        <activity
            android:name=".Conoce_tu_respiracion"
            android:exported="false" />
        <activity
            android:name=".Monitoreo"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Notificaciones.NotificacionReceiver"
            android:exported="true" />
        <receiver android:name=".Notificaciones.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>





    </application>

</manifest>